<div class="footer" id="contact">
    <p>{{ i18n "contact_us" }}</p>
    <div class="contacts">
        <ul>
            <li>
                <img src="/images/address.png" alt="Address">
                <a target="_blank"
                   href="https://www.google.com/maps/place/Katr%C4%ABnas+dambis+22D,+Zieme%C4%BCu+rajons,+R%C4%ABga,+LV-1045/@56.9718257,24.1035527,17z/data=!3m1!4b1!4m5!3m4!1s0x46eecfbe3746864f:0xe89f947d1c1303cc!8m2!3d56.9718228!4d24.1057413">
                    Katrinas dambis 22d, Riga, Latvia, LV-1045</a>
            </li>
            <li>
                <img src="/images/email.png" alt="Address">
                <a href="mailto:andrejs@cazus.lv">info@cazus.lv</a>
            </li>
            <li>
                <img src="/images/phone.png" alt="Address">
                <a href="tel:+371">+371</a>
            </li>
        </ul>
    </div>
    <form class="form" method="POST" action="https://formspree.io/f/xqkoalgb">
        <div class="wrapper">
            <div>
                <input type="email" required name="email" placeholder="{{ i18n "contact_us_email_placeholder" }}">
                <input type="text" required name="name" placeholder="{{ i18n "contact_us_name_placeholder" }}">
            </div>
            <textarea cols="30" rows="4" name="message" required placeholder="{{ i18n "contact_us_message_placeholder" }}"></textarea>
        </div>
        <button type="submit">{{ i18n "contact_us_button" }}</button>
    </form>
</div>

<div class="copyright">
    <p>&copy; CASUS Juridiskais Birojs, 2023</p>
</div>
